.panel {

figure {
  width: 80%;
  height: 80vh;
  overflow: hidden;
  position: relative;
  background-color: #e5e5e5;
  
img {
    position: absolute;
    width: 30%;
    display: block;
    border-radius: 50%;
    border: .5rem solid #fff;
    opacity: 0;
    transition: transform .4s;
  }
  img:hover {
    transform: scale(1.2);
  }
  .i1 {
    top: 5%;
    left: 5%;
    animation-name: fadein;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    @media screen and (min-width: 40em){
      top: 50%;
    }
  }
  .i2 {
    bottom: 5%;
    right: 5%;
    width: 50%;
    animation-name: fadein;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
  .i3 {
    top: 5%;
    left: 60%;
    animation-name: fadein;
    animation-duration: 2s;
    animation-delay: .1s;
    animation-fill-mode: forwards;
  }
  .i4 {
    bottom: 30%;
    left: 20%;
        animation-name: fadein;
    animation-duration: 2s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
  }
}
}



@keyframes fadein {
  0% { opacity: 0;}
  100% { opacity: 1;}
}
